<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2024 Stephan Strittmatter
 -->
<template>
  <b-modal
    id="modal-license"
    class="license"
    title="Third Party Licenses"
    :ok-title="$t('about_modal.action.close.title')"
    ok-variant="secondary"
    scrollable
    ok-only
  >
    <h3>Server</h3>
    <license-summary-backend />

    <h3>Web UI</h3>
    <license-summary-webui />
  </b-modal>
</template>

<script>
import LicenseSummaryWebui from "@/components/about/LicenseSummaryWebui.vue";
import LicenseSummaryBackend from "@/components/about/LicenseSummaryBackend.vue";

export default {
  name: "LicenseView",
  components: {
    LicenseSummaryWebui,
    LicenseSummaryBackend,
  },
};
</script>
<style scoped>
h3 {
  font-size: 1rem;
}
</style>
