<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2024 Stephan Strittmatter
 -->
<template>
  <ul>
    <li v-for="(value, key) in licenseFrontend" :key="key">
      <a
        v-if="value.packageJson.homepage"
        :href="value.packageJson.homepage"
        target="_blank"
        >{{ value.packageJson.name }}</a
      >
      <a
        v-else-if="value.packageJson.repository.url"
        :href="value.packageJson.repository.url"
        target="_blank"
        >{{ value.packageJson.name }}</a
      >
      <span v-else>{{ value.packageJson.name }}</span
      >, Version: {{ value.packageJson.version }}:
      {{ value.packageJson.license }} License
    </li>
  </ul>
</template>

<script>
import licenseService from "@/services/license.service";

export default {
  name: "LicenseSummaryWebui",
  data() {
    return {
      licenseFrontend: [],
    };
  },
  async created() {
    this.licenseFrontend = await licenseService.getFrontendLicenses();
  },
};
</script>
<style scoped>
ul > li {
  font-size: 0.8rem;
}
a {
  color: var(--text);
}
</style>
