<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2023 Stephan Strittmatter
 -->
<template>
  <div>
    <b-row>
      <b-col cols="2">
        <strong>{{ $t('about_modal.version_description.version') }}</strong>
      </b-col>
      <b-col>
        <a
          :href="gitTagUrl"
          target="_blank"
        >
          {{ version }}
        </a>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="2">
        <strong>{{ $t('about_modal.version_description.license') }}</strong>
      </b-col>
      <b-col>
        <a
          :href="license?.url"
          target="_blank"
        >
          {{ license?.name }}
        </a>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <a
          :href="contact?.url"
          target="_blank"
        >
          {{ contact?.url }}
        </a>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import apiinfoService from '@/services/apiinfo.service'
export default {
  name: 'VersionDescription',
  data () {
    return {
      gitHash: process.env.VUE_APP_GIT_HASH,
      gitTag: process.env.VUE_APP_GIT_TAG,
      apiInfo: {
        version: 'loading ...',
        license: {
          name: 'loading ...'
        }
      }
    }
  },
  async created () {
    this.apiInfo = await apiinfoService.getInfo()
  },
  computed: {
    gitCommitUrl () {
      return `https://gitlab.com/hai-end-streaming/streaming-server/-/tree/${this.gitHash}`
    },
    gitTagUrl () {
      return 'https://gitlab.com/hai-end-streaming/streaming-server/-/tags/'
    },
    version () {
      return this.apiInfo?.version
    },
    license () {
      return this.apiInfo?.license
    },
    contact () {
      return this.apiInfo?.contact
    }
  }
}
</script>
