<template>
  <div id="chatwoot" />
</template>

<script>
import configService from '@/services/config.service'

export default {
  name: 'ChatwootIntegration',
  mounted () {
    if (
      process.env.VUE_APP_CHATWOOT_TOKEN &&
      process.env.VUE_APP_CHATWOOT_TOKEN !== ''
    ) {
      this.initChatwoot()
    } else {
      console.warn(
        '%c⚠️ 💬 Chatwoot integration is disabled',
        'font-weight: 800'
      )
    }
  },
  data () {
    return {
      hostname: null
    }
  },
  methods: {
    initChatwoot () {
      (function (d, t) {
        const BASE_URL = process.env.VUE_APP_CHATWOOT_BASE_URL
        const g = d.createElement(t)
        const s = d.getElementsByTagName(t)[0]
        g.src = `${BASE_URL}/packs/js/sdk.js`
        g.defer = true
        g.async = true
        s.parentNode.insertBefore(g, s)

        g.onload = function () {
          window.chatwootSDK.run({
            websiteToken: process.env.VUE_APP_CHATWOOT_TOKEN,
            baseUrl: BASE_URL
          })
        }
      })(document, 'script')

      window.chatwootSettings = {
        type: 'expanded_bubble',
        launcherTitle: 'Chat'
      }

      window.addEventListener('chatwoot:ready', function () {
        configService.getROProperties().then((response) => {
          console.log('chatwood:ready', response)
          window.$chatwoot.setLocale(this.currentLocale)
          window.$chatwoot.setCustomAttributes({
            hostname: `${response.fqdn}` // we use full qualified domain name here
          })
        })
      })
    }
  }
}
</script>
