<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter, 2023 Carl-Daniel Hailfinger
-->
<template>
  <b-button
    class="mx-2"
    variant="warning"
    @click="restart()"
  >
    <b-icon
      icon="arrow-repeat"
      :aria-label="$t('actions.restart.title')"
    />
    {{ $t("actions.restart.title") }}
  </b-button>
</template>

<script>
import systemService from '@/services/system.service'

export default {
  name: 'RestartButton',
  methods: {
    restart () {
      systemService.actionRestart()
    }
  }

}
</script>
