<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-button
    id="start-stream"
    variant="success"
    v-b-modal.modal-start-stream
    :disabled="buttonDisabled"
  >
    <b-icon icon="play-fill" />
    {{ $t("stream-controls.start-button.label") }}
    <b-modal
      id="modal-start-stream"
      :title="$t('stream-controls.start-button.modal-start-stream.title')"
      ok-only
      :ok-title="$t('stream-controls.start-button.modal-start-stream.cancel-title')"
      ok-variant="secondary"
    >
      <b-row>
        <b-col>
          {{
            $t("stream-controls.start-button.modal-start-stream.start-message")
          }}
          <br>
          <b-button
            class="my-3"
            type="button"
            variant="success"
            block
            @click="start('start')"
          >
            <b-icon icon="calendar-fill" />
            {{
              $t("stream-controls.start-button.modal-start-stream.start-title")
            }}
          </b-button>
        </b-col>
        <b-col>
          {{
            $t("stream-controls.start-button.modal-start-stream.test-message")
          }}
          <br>
          <b-button
            class="my-3"
            type="button"
            variant="outline-success"
            block
            @click="start('test')"
          >
            <b-icon icon="tv" />
            {{
              $t("stream-controls.start-button.modal-start-stream.test-title")
            }}
          </b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <i>
            <small>
              {{
                $t("stream-controls.start-button.modal-start-stream.hint")
              }}
            </small>
          </i>
        </b-col>
      </b-row>
    </b-modal>
  </b-button>
</template>

<script>
import { mapActions, mapState } from 'pinia'
import { useStreamingStore } from '@/store/streaming'

export default {
  name: 'StartStreamingButton',
  data () {
    return {
      usePortalEventToStream: true
    }
  },
  computed: {
    buttonDisabled () {
      return this.isPlayingStream
    },
    ...mapState(useStreamingStore, ['streamingStatus', 'isPlayingStream'])
  },
  methods: {
    start (flag) {
      this.startStream(flag)
      this.$bvModal.hide('modal-start-stream')
    },
    cancel () {
      this.$bvModal.hide('modal-start-stream')
    },
    ...mapActions(useStreamingStore, ['startStream'])
  }
}
</script>
