<template>
  <b-button @click="toggleFullscreen">
    <b-icon-fullscreen-exit
      v-if="isFullscreen"
      :title="
        $t('video-preview.status-bar.fullscreen-button.unset-fullscreen.title')
      "
    />
    <b-icon-fullscreen
      v-if="!isFullscreen"
      :title="
        $t('video-preview.status-bar.fullscreen-button.set-fullscreen.title')
      "
    />
  </b-button>
</template>

<script>
export default {
  name: 'FullscreenButton',
  props: {
    isFullscreen: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    toggleFullscreen () {
      this.$emit('toggle')
    }
  }
}
</script>
