<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-badge v-if="streamingState">
    {{ streamingState }}
  </b-badge>
</template>

<script>
import { mapState } from 'pinia'
export default {
  name: 'StatusLabel',
  computed: {
    ...mapState({
      streamingState: 'Streaming/streamingState'
    })
  }
}
</script>

<style>
</style>
