<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <span class="hostname--label">{{ hostname }}</span>
</template>

<script>
import configService from '@/services/config.service'

export default {
  name: 'HostnameLabel',
  data () {
    return {
      hostname: null
    }
  },
  mounted () {
    configService.getROProperties()
      .then((response) => {
        this.hostname = response.hostname
      })
  }
}
</script>

<style>

</style>
