<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-card
    class="image-overlay-template"
    no-body
  >
    <b-card-header class="image-overlay-template__header">
      <b-card-img-lazy
        :src="image.href"
        :alt="image.filename"
        @click="select"
        fluid
        top
      />
    </b-card-header>
    <b-card-body class="image-overlay-template__body">
      <b-card-text
        class="image-overlay-template__filename"
      >
        <small>{{ image.filename }}</small>
      </b-card-text>
      <b-button-group>
        <b-button
          @click="select"
          variant="outline-primary"
          size="sm"
          :title="$t('overlay.image-overlay-templates.action.select.title')"
        >
          <b-icon icon="check" />
        </b-button>
        <b-button
          :disabled="image.fixed"
          :title="$t('overlay.image-overlay-templates.action.delete.title')"
          variant="outline-danger"
          size="sm"
          @click="showDeleteModal = true"
        >
          <b-icon icon="trash-fill" />
          <b-modal
            v-model="showDeleteModal"
            @ok="remove"
            :title="$t('overlay.image-overlay-templates.action.delete.title')"
            :ok-title="$t('overlay.image-overlay-templates.action.delete.ok')"
            ok-variant="danger"
            :cancel-title="$t('overlay.image-overlay-templates.action.delete.cancel')"
          >
            <p style="overflow-x:clip;">
              {{ $t('overlay.image-overlay-templates.action.delete.modal.text', [image.filename]) }}
            </p>
            <b-img-lazy
              :src="image.href"
              :alt="image.filename"
              fluid
            />
          </b-modal>
        </b-button>
      </b-button-group>
    </b-card-body>
  </b-card>
</template>
<script>
export default {
  name: 'ImageOverlayTemplates',
  props: {
    image: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      showDeleteModal: false
    }
  },
  methods: {
    select () {
      this.$emit('select', this.image)
    },
    remove () {
      this.$emit('remove', this.image)
    }
  }
}
</script>
<style scoped lang="scss">
.image-overlay-template {
  width: 100%;
  height: 100%;

  &__header {
    padding: 0;

    img {
      cursor: pointer;
    }
  }
  &__body {
    padding: 0 0.5rem 0 0.5rem ;
  }
  &__filename {
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
  }
}
</style>
