<template>
  <b-card
    id="image-overlay__add-card"
    no-body
  >
    <b-card-header>
      <b-button
        v-b-modal.modal-add-image
        variant="outline-primary"
        block
      >
        <b-icon icon="file-plus-fill" />
        <b-modal
          id="modal-add-image"
          :title="$t('overlay.image-overlay.modal-add-image.title')"
          @ok="addImage"
          :ok-title="$t('overlay.image-overlay.modal-add-image.ok-title')"
          :cancel-title="$t('overlay.image-overlay.modal-add-image.cancel-title')"
          @cancel="cancelAddImage"
        >
          <p>
            <cropper
              ref="cropper"
              class="cropper"
              :src="image.src"
              :default-size="defaultSize"
              :stencil-props="{
                aspectRatio: 16/9
              }"
              :resize-image="{
                adjustStencil: true
              }"
            />
          </p>
          <p>
            {{ $t("overlay.image-overlay.modal-add-image.text") }}
            <b-form-file
              :accept="supportedFormat"
              :browse-text="$t('overlay.image-overlay.modal-add-image.browse-text')"
              :placeholder="$t('overlay.image-overlay.modal-add-image.placeholder')"
              @change="loadImage($event)"
            />
          </p>
        </b-modal>
      </b-button>
    </b-card-header>
    <b-card-body>
      <b-card-text>
        <small>
          {{ $t("overlay.image-overlay.card-text") }}
        </small>
      </b-card-text>
    </b-card-body>
  </b-card>
</template>
<script>
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css'
import Pica from 'pica'
import overlayService from '@/services/overlay.service'

export default {
  name: 'ImageOverlayAdd',
  components: {
    Cropper
  },
  data () {
    return {
      image: {
        name: null,
        src: null,
        type: null
      }
    }
  },
  computed: {
    supportedFormat () {
      return overlayService.getSupportedImageFormat().join()
    }
  },
  methods: {
    async addImage () {
      this.startProgress()
      const { canvas } = this.$refs.cropper.getResult()
      if (canvas) {
        const resultCanvas = document.createElement('canvas')
        resultCanvas.width = 1280
        resultCanvas.height = 720
        const pica = new Pica()
        await pica.resize(canvas, resultCanvas, {
          unsharpAmount: 25,
          unsharpRadius: 1,
          unsharpThreshold: 1,
          quality: 3
        })
        resultCanvas.toBlob(blob => {
          const formData = new FormData()
          const fileName = this.updateFileExtension(this.image.name, 'png')
          formData.append('filename', fileName)
          formData.append('file', blob, fileName)
          overlayService.addNewOverlayImage(formData)
            .then((result) => {
              console.log(result)
              this.reset()
              this.uploaded()
            })
        }, 'image/png') // TODO: change to `this.image.type`, if jpeg is supported too.
      }
    },
    cancelAddImage () {
      this.reset()
    },
    startProgress () {
      this.$emit('startProgress')
    },
    uploaded () {
      this.$emit('uploaded')
    },
    reset () {
      this.image = {
        name: null,
        src: null,
        type: null
      }
    },
    loadImage (event) {
      // Reference to the DOM input element
      const { files } = event.target
      // Ensure that you have a file before attempting to read it
      if (files && files[0]) {
        // 1. Revoke the object URL, to allow the garbage collector to destroy the uploaded before file
        if (this.image.src) {
          URL.revokeObjectURL(this.image.src)
        }
        // 2. Create the blob link to the file to optimize performance:
        const blob = URL.createObjectURL(files[0])

        // 3. The steps below are designated to determine a file mime type to use it during the
        // getting of a cropped image from the canvas. You can replace it them by the following string,
        // but the type will be derived from the extension and it can lead to an incorrect result:
        //
        this.image = {
          name: files[0].name,
          src: blob,
          type: files[0].type
        }
        // Create a new FileReader to read this image binary data
        const reader = new FileReader()
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = (e) => {
          // Note: arrow function used here, so that "this.image" refers to the image of Vue component
          this.image = {
            name: files[0].name,
            // Set the image source (it will look like blob:http://example.com/2c5270a5-18b5-406e-a4fb-07427f5e7b94)
            src: blob,
            // Determine the image type to preserve it during the extracting the image from canvas:
            type: this.getMimeType(e.target.result, files[0].type)
          }
        }
        // Start the reader job - read file as a data url (base64 format)
        reader.readAsArrayBuffer(files[0])
      }
    },
    updateFileExtension (fileName, newExtension) {
      return fileName.substr(0, fileName.lastIndexOf('.')) + '.' + newExtension.toLowerCase()
    },
    getMimeType (file, fallback = null) {
      const byteArray = (new Uint8Array(file)).subarray(0, 4)
      let header = ''
      for (let i = 0; i < byteArray.length; i++) {
        header += byteArray[i].toString(16)
      }
      switch (header) {
        case '89504e47':
          return 'image/png'
        case '47494638':
          return 'image/gif'
        case 'ffd8ffe0':
        case 'ffd8ffe1':
        case 'ffd8ffe2':
        case 'ffd8ffe3':
        case 'ffd8ffe8':
          return 'image/jpeg'
        default:
          return fallback
      }
    },
    defaultSize ({ imageSize, visibleArea }) {
      return {
        width: (visibleArea || imageSize).width,
        height: (visibleArea || imageSize).height
      }
    }
  },
  destroyed () {
    // Revoke the object URL, to allow the garbage collector to destroy the uploaded before file
    if (this.image.src) {
      URL.revokeObjectURL(this.image.src)
    }
  }
}
</script>
