<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
 -->
<template>
  <b-container id="settings">
    <home-button />
    <h1>{{ $t("settings.title") }}</h1>
    <b-alert
      show
      variant="warning"
    >
      {{ $t("settings.warning") }}
    </b-alert>
    <b-row>
      <b-col md="8">
        <b-card class="mb-3">
          <volume-control class="mb-3" />
          <video-bitrate class="mb-3" />
          <audio-device-select class="mb-3" />
          <audio-sink-device-select />
        </b-card>
        <overlay-preference class="mb-3" />
      </b-col>
      <b-col md="4">
        <b-card class="mb-3">
          <p>{{ $t("settings.server-hardware") }}</p>
          <p>
            <hostname-label />
          </p>
          <b-button-group>
            <restart-button />
          </b-button-group>
          <p />
          <b-button-group>
            <reboot-button />
            <power-off-button />
          </b-button-group>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import VolumeControl from '@/components/settings/VolumeControl.vue'
import VideoBitrate from '@/components/settings/VideoBitrate.vue'
import AudioDeviceSelect from '@/components/settings/AudioDeviceSelect.vue'
import AudioSinkDeviceSelect from '@/components/settings/AudioSinkDeviceSelect.vue'
import RestartButton from '@/components/actions/RestartButton.vue'
import RebootButton from '@/components/actions/RebootButton.vue'
import PowerOffButton from '@/components/actions/PowerOffButton.vue'
import HostnameLabel from '@/components/settings/HostnameLabel.vue'
import OverlayPreference from '@/components/settings/OverlayPreference.vue'
import HomeButton from '@/components/actions/HomeButton.vue'

export default {
  name: 'SettingsView',
  metaInfo () {
    return {
      title: this.$t('settings.title')
    }
  },
  components: {
    VolumeControl,
    VideoBitrate,
    AudioDeviceSelect,
    AudioSinkDeviceSelect,
    RestartButton,
    RebootButton,
    PowerOffButton,
    HostnameLabel,
    OverlayPreference,
    HomeButton
  }
}
</script>
