<template>
  <p class="digital-clock text-monospace">
    {{ time }}
  </p>
</template>

<script>
export default {
  name: 'DigitalClock',
  data () {
    return {
      timerId: null,
      time: ''
    }
  },
  mounted () {
    this.timerId = setInterval(this.updateTime, 1000)
  },
  beforeDestroy () {
    this.timerId = null
  },
  methods: {
    updateTime () {
      const cd = new Date()
      this.time = this.zeroPadding(cd.getHours(), 2) + ':' + this.zeroPadding(cd.getMinutes(), 2) + ':' + this.zeroPadding(cd.getSeconds(), 2)
    },
    zeroPadding (num, digit) {
      let zero = ''
      for (let i = 0; i < digit; i++) {
        zero += '0'
      }
      return (zero + num).slice(-digit)
    }
  }

}
</script>

<style>
.digital-clock {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  letter-spacing: 0.05em;
  font-size: 1.25rem;
}
</style>
